canvas
{
 border:4px solid whitesmoke;
 border-radius : 30px;
 margin-top : 50px;
 position:center;

}
.RUP
{
    font-size:25px;
    margin:5px solid black;
}

body
{
    background-size: cover;
}